<section id="about">
    <div class="container mb-5">
        <h2><strong>About Mihindu</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row" data-aos="fade-zoom"
        data-aos-anchor-placement="top-center">
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-zoom">
                <h3>Hello there,</h3>
                <p class="font-italic" align="justify">
                    Mihindu Ranasinghe is a Full Stack Software Engineer , Innovator and a Volunteer with hands-on experience and specialized in Cloud Native Engineering,
                    Data Science & Machine Learning.
                    <br><br>
                    He is passionate in deployment technologies in Agile and DevOps environments and CI/CD automation scripting. He is experienced in multiple cloud providers deployment 
                    and manage applications on virtual machines and container management systems.
                    <br><br>
                    Mihindu Ranasinghe Joined <b>WSO2</b> as a <b>Trainee Software Engineer</b> in October 2020 - April 2021
                    and he had the opportunity to work with multiple product domains such as WSO2 API Manager , WSO2 API Cloud and Choreo Cloud. 
                    <br><br>
                    After completing his internship at WSO2, Mihindu joined <b>Sysco LABS</b> as a <b>Full Stack Software Engineer</b> and he is assigned in the <b>Sysco Canada Team</b> in international division. <br><br>
                    
                    He is an active volunteer in professional engineering bodies in Sri Lanka. Mihindu serves as the present <b>IEEE Indsutry Relations Chairperson of IEEE Sri Lanka Section</b>
                    and he was the <b>Sri Lanka Section Lead at IEEEXtreme</b> in 2020.
                    IEEE is the world's largest technical professional organization dedicated to advancing engineering and technology.
                    Mihindu Ranasinghe is the <b>Chair-Person</b> of IEEE Student Branch of University of Kelaniya, Sri Lanka.
                    Also he is a core-committee member at <b>Facebook Developer Circles:Colombo</b> and he contributes in various technical communities
                    in Sri Lanka such as <b>Google Developer Groups - GDG Sri Lanka</b> and <b>Google Business Groups - GBG Sri Lanka</b>
                    <br><br>
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Sri Lanka</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Colombo, Sri Lanka</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mihinduranasinghe@gmail.com">
                                    mihinduranasinghe@gmail.com</a></strong>
                            </li>
                            <li>
                                <fa-icon [icon]="mobile"></fa-icon><strong> (+94) 76 841 66 37</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 23 Years Old</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Bsc.(Hons) Software Engineering </strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> Full Stack Engineer</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    <!-- Click here to download my resume -->
                </p>
            </div>

            <div class="col-lg-4" data-aos="fade-zoom" >

                <picture>
                    <img src="assets/images/syscoLABS-welcome.jpg" alt="Mihindu Ranasinghe" class="img-fluid">
                </picture>
                <br><br>
                <picture>
                    <img src="assets/images/wso2.jpg" alt="Mihindu Ranasinghe" class="img-fluid">
                </picture>

                <br><br>
                <!-- Linked in Badge -->
                <!-- <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal"
                    data-theme="light" data-vanity="mihindu-ranasinghe-b532a8155"><a class="LI-simple-link"
                        href='https://lk.linkedin.com/in/mihindu-ranasinghe-b532a8155?trk=profile-badge'>Mihindu Ranasinghe</a>
                </div> -->
                <!-- Wnd of Linked in Badge -->

                <div class="d-flex justify-content-center">
                                    <a class="btn-social-media" href="https://www.linkedin.com/in/mihindu-ranasinghe-b532a8155/" rel="tooltip"
                                        target="_blank" title="Suivez moi sur Linkedin">
                                        <i class="fa fa-linkedin fa-lg "></i>
                                    </a>
                                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/mihinduranasinghe"
                                        rel="tooltip" target="_blank" title="GitHub Url">
                                        <i class="fa fa-github fa-lg "></i>
                                    </a>
                                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/mihindu.ranasinghe"
                                        rel="tooltip" target="_blank" title="Facebook Url">
                                        <i class="fa fa-facebook fa-lg "></i>
                                    </a>
                                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
                                        href="https://www.instagram.com/mihindu_ranasinghe/" rel="tooltip" target="_blank" title="Insta Url">
                                        <i class="fa fa-instagram fa-lg "></i>
                                    </a>
                </div>
                                
                <div class="d-flex justify-content-center">
                                    <a class="btn-social-media" href="https://web.whatsapp.com/" rel="tooltip" target="_blank" title="Whatsapp">
                                        <i class="fa fa-whatsapp fa-lg "></i>
                                    </a>
                                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://twitter.com/Mihindupramanth"
                                        rel="tooltip" target="_blank" title="Twitter Url">
                                        <i class="fa fa-twitter fa-lg "></i>
                                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
