<section id="achievements">
    <div class="container">
        <h2><strong>Achievements</strong></h2>
        <span class="bar-title mb-5"></span>
         <!-- Ericsson Innovations Award -->       
            <div class="p-3" data-aos="fade-up" data-aos-delay="300">
                <h3><strong>ERICSSON INNOVATION AWARDS 2020</strong></h3>             
                <div class="mb-3">
                    <h5><strong>Global 1st Runner Up Winner - Prize 17000 EURO </strong></h5>
                </div>
                
                <div class="row">
                    <div class="col-md-8 col-sm">
                        <!-- Image carousal for ericcson -->
                        <div class="card card-shadow shadow-lg  rounded ">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="not-active active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="4" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="5" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="6" class="not-active"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIA_UOK_1.jpg" alt="Second slide">
                        
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAfinal6.jpg" alt="Second slide">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAfinal2.jpg" alt="Second slide">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIA_UOK_5.jpg" alt="Second slide">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAfinal4.jpg" alt="Second slide">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAfinal5.jpg" alt="Second slide">
                                        </div>
                                    </div>
                        
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIA_UOK_4.jpg" alt="Second slide">
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                        </div>
                        <!--End of Image carousal for ericcson -->
                    </div>
                    <div class="col-md-4 col-sm">
                        <p>The 2020 Ericsson Innovation Awards (EIA) is a call to ‘Reclaim the Future.’ The annual global competition
                        calls on students around the globe to set major change in motion by committing to addressing the current and future
                        challenges of climate action. Focused on how Engineering solutions can provide radical climate change mitigation for
                        consumers and industry alike.</p>
                        <p><strong>Global Winners </strong></p>
                        <p>
                            1st Place&nbsp;&nbsp;&nbsp; : Queensland University – Australia
                            <br><b>2nd Place : University of Kelaniya - Sri Lanka</b>
                            <br>3rd Place&nbsp;&nbsp;&nbsp; : Stanford University – USA
                        </p>
                        <p>A newsletter article published by the university in official university website
                        <a href="https://news.kln.ac.lk/index.php/faculties/sciences/1068-global-second-place-and-the-most-popular-team-on-instagram-at-the-ericsson-innovation-awards-2020" target="_blank">
                        <br> https://news.kln.ac.lk/</a>
                        </p>
                        <p>A post published by WSO2
                        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6745200856070688768/" target="_blank"> <br>WSO2 Post Link</a>
                        </p>
                        <p>Winners Announcement</p>
                        <a href="https://www.ericsson.com/en/careers/eia" target="_blank">https://www.ericsson.com/en/careers/eia
                        </a><br><br>
                        <p>Watch the grand finale</p>
                        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6744628501690904576/" target="_blank">Grand Finale Video Link
                        </a><br><br>
                    </div>
                </div>

                                                <!-- <div class="row">                       
                                                    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                                        <h4><strong>Work Experience</strong></h4>                 
                                                    </div>

                                                    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                                        <h4><strong>Work Experience</strong></h4>                   
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-row">
                                                        <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-info">+
                                                            Detail mission</button>
                                                    </div>
                                                    <p *ngIf="alternanceIsShown">
                                                        <strong>Mission 1:</strong> Application de gestion des camions entrant sur le site<br>
                                                        <strong>Mission 2:</strong> Amélioration d'une application qui permet de détecter si des
                                                        intervenants extérieurs travaillent au même endroit<br>
                                                        <strong>Mission 3:</strong> Mise en forme des commandes du verre, dans l’intérêt d'une
                                                        meilleure lisibilité des priorités pour les équipes de production. <br>
                                                        <strong>Téchnologies:</strong> JAVA, VBA, MySql, J2EE, Angular
                                                    </p> -->
            </div>
         <hr>
         <!-- UNDP GENU -->
            <div class="p-3 mt-5" data-aos="fade-up" data-aos-delay="300">
                <h3><strong>UNDP Generation Unlimited Global Youth Challenge 2020</strong></h3>        
                <div class="mb-3">
                    <h5><strong>One of the top 5 innovations in Sri-Lanka - Prize 1000 USD </strong></h5>
                </div>
            
                <div class="row">
                    <div class="col-md-8 col-sm">
                        <!-- Image carousal for GENU -->
                        <div class="card card-shadow shadow-lg  rounded ">
                            <div id="carouselExampleIndicatorsUNDP" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="0" class="not-active active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="1" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="2" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="3" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="4" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="5" class="not-active"></li>

                                </ol>
                                <div class="carousel-inner">                                  
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/9.jpg"
                                                alt="Second slide">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/2.jpg"
                                                alt="Second slide">
                                        </div>
                                    </div>
                                   
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/6.jpg"
                                                alt="Second slide">
                                        </div>
                                    </div>
            
                                    
                                    <div class="carousel-item active">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/undp_1.jpg" alt="Second slide">                                    
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/1.jpg"
                                                alt="Second slide">
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/undp_2.jpg" alt="Second slide">
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                        <!--End of Image carousal for GENU -->
                    </div>
                    <div class="col-md-4 col-sm">
                        <p>
                        Generation Unlimited has supported thousands of young innovators across 40 countries to tackle some of the biggest
                        challenges facing their generation. It has helped young people understand why these challenges exist and how they can be
                        addressed to bring about real change.
                        </p>
                        <p>A newsletter article published by UNDP in official UNDP website</p>
                        <a href="https://undpsrilanka.exposure.co/bringing-ideas-to-life" target="_blank">https://undpsrilanka.exposure.co/bringing-ideas-to-life</a>
                        <br><br>
                        <p>Featuring Video</p>
                        <a href="https://fb.watch/3rBLJMnuxf/" target="_blank">https://fb.watch/3rBLJMnuxf/
                        </a><br><br>
                    </div>
                </div>
            
                <!-- <div class="row">                       
                            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                <h4><strong>Work Experience</strong></h4>                 
                            </div>
            
                            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                <h4><strong>Work Experience</strong></h4>                   
                            </div>
                        </div> -->
            
                <!-- <div class="d-flex flex-row">
                                <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-info">+
                                    Detail mission</button>
                            </div>
                            <p *ngIf="alternanceIsShown">
                                <strong>Mission 1:</strong> Application de gestion des camions entrant sur le site<br>
                                <strong>Mission 2:</strong> Amélioration d'une application qui permet de détecter si des
                                intervenants extérieurs travaillent au même endroit<br>
                                <strong>Mission 3:</strong> Mise en forme des commandes du verre, dans l’intérêt d'une
                                meilleure lisibilité des priorités pour les équipes de production. <br>
                                <strong>Téchnologies:</strong> JAVA, VBA, MySql, J2EE, Angular
                            </p> -->
            </div>

    <hr>

        <!-- Nobel Round Table -->
            <div class="p-3 mt-5" data-aos="fade-up" data-aos-delay="300">
                <h2 style="color: #212529;"><strong>Nobel Prize Round Table 2021</strong></h2>
                <div class="mb-3">
                    <h4><strong>Student meet Nobel Laureate (11/02/2021)</strong></h4>
                </div>
            
                <div class="row p-4">
                   
                    <div class="col-md-5 col-sm">
                        <p>
                            Mihindu got this quite rare opportunity which only 16 selected students from all over the world who have shown the potential of being a scientist, and from different
                            disciplines within science, got invitations from Nobel International Foundation to
                            join the conversation with <b>Professor Queloz</b>, focusing on the topic of <b>"being a scientist"</b> , Organized by <a href="https://www.nobelprize.org/">The Nobel Prize Org.</a>
                        </p>
                        <p>This was an invite-only event for hand-picked students to digitally meet a Nobel Laureate and engage in
                        a dialogue about their life as a scientist. The session was held on a closed video conference platform</p>
                        <a href="https://www.nobelprize.org/"
                            target="_blank">https://www.nobelprize.org/</a>
                        <br><br>
                        <p>Featuring Video</p>
                        <a href="https://www.youtube.com/user/thenobelprize" target="_blank">https://www.youtube.com/user/thenobelprize
                        </a><br><br>                    
                    </div>

                    <!-- Image carousal for Nobel Round table -->
                    <div class="col-md-7 col-sm">
                        <div class="card card-shadow shadow-lg  rounded ">
                            <div id="carouselExampleIndicatorsNobel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="0" class="not-active active">
                                    </li>
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="1" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="2" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="3" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="4" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="5" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="6" class="not-active"></li>
                    
                                </ol>
                                <div class="carousel-inner">

                                    <div class="carousel-item active">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/11.png" alt="Second slide">
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/3.png"
                                                alt="Second slide">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/4.png"
                                                alt="Second slide">
                                        </div>
                                    </div>
                    
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/6.png"
                                                alt="Second slide">
                                        </div>
                                    </div>
                    
                    
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/9.png"
                                                alt="Second slide">
                                        </div>
                                    </div>
                    
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/10.png"
                                                alt="Second slide">
                                        </div>
                                    </div>
                    
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/1.png"
                                                alt="Second slide">
                                        </div>
                                    </div>
                                   
                    
                                </div>
                            </div>
                        </div>
                        <!--End of Image carousal for Nobel Round table -->
                    </div>

                </div>
                <div>
                    <h4>About Prof. Didier Queloz</h4>
                        <ul>
                            <li>Didier Queloz is Professor of Physics at the University of Cambridge and
                            Geneva University.</li>
                            <li>He was awarded the 2019 Nobel Prize in Physics for the 1995 discovery of
                            exoplanet 51 Pegasi b. It was the first discovery of a planet outside our solar
                            system orbiting a solar-type star.</li>
                            <li>
                                He carried out his Nobel-Prize awarded work as a PhD student, and was
                                awarded the Nobel Prize alongside his PhD supervisor, Michel Mayor.
                            </li>
                        </ul>
                </div>
            </div>

    <hr>

        <!-- GDG Cloud Kasthiram -->
            <div class="p-3 mt-5" data-aos="fade-up" data-aos-delay="300">
                <h3><strong>Panel Discussion on Google Cloud Platform (GCP) - 2020</strong></h3>
                <div class="mb-3">
                    <h5><strong>Organized by Google Developer Groups (GDG Sri Lanka) | DGD Cloud Sri Lanka</strong></h5>
                </div>
            
                <div class="row">
            
                    <div class="col-md-5 col-sm">
                        <p>
                            Mihindu was invited as a panelist in the panel discussion, organized by Google Developer Groups (GDG Sri Lanka) |
                            DGD Cloud Sri Lanka to discuss the Google Cloud Platform experience and share knowledge and experience on GCP and #CloudKasthiram Cloud Challenge.
                        </p>

                        <h5>Moderators </h5>
                        <br>
                        <h6>1. Shafraz Rahim</h6>
                        <p>
                          <b>Cloud Community Manager at Google ( Singapore ) </b>
                        </p>

                        <h6>2. Milindu Sanoj</h6>
                        <p>
                           <b>SRE Team Lead at SyscoLABS</b>
                        </p>
                    </div>
            
                    <!-- Image carousal for GDG Cloud Kasthiram -->
                    <div class="col-md-7 col-sm">
                        <div class="card card-shadow shadow-lg  rounded ">
                            <div id="carouselExampleIndicatorsGDG" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="0" class="not-active active">
                                    </li>
                                    <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="1" class="not-active"></li>
                                    <!-- <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="2" class="not-active"></li> -->
                                    <!-- <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="3" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="4" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="5" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="6" class="not-active"></li> -->
            
                                </ol>
                                <div class="carousel-inner">
            
                                    <div class="carousel-item active">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/gdg/1.jpg"
                                                alt="Second slide">
                                        </div>
                                    </div>
            
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/gdg/3.jpg"
                                                alt="Second slide">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of Image carousal for Nobel Round table -->
                    </div>   
                </div>

                <!-- i frame -->
                <div style="text-align: center;" class="mt-5">
                    <h4>Featuring Video (Panel Discussion)</h4>
                    <iframe width="750" height="405" src="https://www.youtube.com/embed/85rg9R9uGQQ?controls=0" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
               
            </div>

        
        <!-- Read More -->
        <!-- <div class="d-flex flex-row">
                <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-info">+
                    Detail mission</button>
            </div>
            <p *ngIf="alternanceIsShown">
                <strong>Mission 1:</strong> Application de gestion des camions entrant sur le site<br>
                <strong>Mission 2:</strong> Amélioration d'une application qui permet de détecter si des
                intervenants extérieurs travaillent au même endroit<br>
                <strong>Mission 3:</strong> Mise en forme des commandes du verre, dans l’intérêt d'une
                meilleure lisibilité des priorités pour les équipes de production. <br>
                <strong>Téchnologies:</strong> JAVA, VBA, MySql, J2EE, Angular
            </p> 
        </div> -->

    </div>
</section>

