<section id="achievements">
    <div class="container">
        <h2><strong>Achievements</strong></h2>
        <span class="bar-title mb-5"></span>

        <!-- EIA Q&A -->
        <div class="p-3" data-oas="fade-up" data-aos-delay="300">
            <h5 align="justify"><strong>🔴 WATCH : Mihindu Ranasinghe joined as a panelist in Ericsson Innovation Awards global live
                    streaming session, to share his experience
                    with the globe on <u>11th of August 2021.</u></strong></h5>
                    <h6 class="pt-1">If you have missed the live stream, you can watch it here.</h6>
            <div class="row">
                <div class="div col-lg-6 col-md col-sm py-5">
                                        <iframe src="https://www.linkedin.com/video/embed/live/urn:li:ugcPost:6831154100575473664" height="284" width="99%"
                                            frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
                </div>
                <div class="div col-lg-6 col-md col-sm py-5">
                    <!-- Image carousal for EIA QA -->
                    <div class="card card-shadow shadow-lg  rounded ">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="not-active active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="not-active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-block w-100">
                                        <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAQA1.jpg"
                                            alt="Mihindu Ranasinghe Ericsson Innovation Awards">
            
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-block w-100">
                                        <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAQA2.jpg"
                                            alt="Mihindu Ranasinghe Ericsson Innovation Awards">
                                    </div>
                                </div>
            
                            </div>
                        </div>
                    </div>
                    <!--End of Image carousal for EIA QA -->
                </div>
            </div>
        </div>
                       
         <!-- Ericsson Innovations Award -->       
            <div class="p-3" data-aos="fade-up" data-aos-delay="300">
                <h3><strong>ERICSSON INNOVATION AWARDS 2020</strong></h3>             
                <div class="mb-3">
                    <h5><strong>Global 2nd Place Winner - Prize 17000 EURO </strong></h5>
                </div>

                <div>
                    <h5 align="justify">The 2020 Ericsson Innovation Awards (EIA) is a call to ‘Reclaim the Future’ The annual global innovation competition
                        calls on students around the globe to set major change in motion by committing to addressing the current and future
                        challenges of climate action. Focused on how Engineering solutions can provide radical climate change mitigation for
                        consumers and industry alike.</h5>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md col-sm pt-5">
                        <!-- Image carousal for ericcson -->
                        <div class="card card-shadow shadow-lg  rounded ">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="not-active active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="4" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="5" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="6" class="not-active"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIA_UOK_1.jpg" alt="Mihindu Ranasinghe Ericsson Innovation Awards">
                        
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAfinal6.jpg" alt="Mihindu Ranasinghe Ericsson Innovation Awards">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAfinal2.jpg" alt="Mihindu Ranasinghe Ericsson Innovation Awards">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIA_UOK_5.jpg" alt="Mihindu Ranasinghe Ericsson Innovation Awards">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAfinal4.jpg" alt="Mihindu Ranasinghe Ericsson Innovation Awards">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAfinal5.jpg" alt="Mihindu Ranasinghe Ericsson Innovation Awards">
                                        </div>
                                    </div>
                        
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIA_UOK_4.jpg" alt="Mihindu Ranasinghe Ericsson Innovation Awards">
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                        </div>
                        <div>
                        <h5 class="py-2" align="justify"><strong>🔴 WATCH : Mihindu and the team, the moment of winning the Global 2nd Place Award
                                and the
                                grand cash prizes of EUR 17000 in Ericsson Innovation Awards 2020 in grand finale on <u>18th of December
                                    2020.</u></strong></h5>
                        <div style="text-align: center;">
                        <h6>If you have missed the live stream, you can watch it here.</h6>
                            <iframe src="https://www.linkedin.com/video/embed/live/urn:li:ugcPost:6744595704343236608" height="284" width="98%"
                                frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
                        </div>
                    </div>
                    </div>
                        <!--End of Image carousal for ericcson -->
                    <div class="col-lg-4 col-md col-sm pt-5">
                        <p><strong>Global Winners </strong></p>
                        <p>
                            1st Place&nbsp;&nbsp;&nbsp; : Queensland University – Australia
                            <br><b>2nd Place : University of Kelaniya - Sri Lanka</b>
                            <br>3rd Place&nbsp;&nbsp;&nbsp; : Stanford University – USA
                        </p>
                        <p>A newsletter article published by the university in official university website
                        <a href="https://news.kln.ac.lk/index.php/faculties/sciences/1068-global-second-place-and-the-most-popular-team-on-instagram-at-the-ericsson-innovation-awards-2020" target="_blank">
                        <br> https://news.kln.ac.lk/</a>
                        </p>
                        <p>A post published by WSO2
                        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6745200856070688768/" target="_blank"> <br>WSO2 Post Link</a>
                        </p>
                        <p>Winners Announcement</p>
                        <a href="https://www.ericsson.com/en/careers/eia/past-competitions" target="_blank">https://www.ericsson.com/en/careers/eia/past-competitions
                        </a><br><br>
                        <p>Watch the grand finale</p>
                        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6744628501690904576/" target="_blank">Grand Finale Video Link
                        </a><br><br>
                    </div>
                </div>
            </div>
         <hr>
         <!-- UNDP GENU -->
            <div class="p-3 mt-5" data-aos="fade-up" data-aos-delay="300">
                <h3><strong>UNDP Generation Unlimited Global Youth Challenge 2020</strong></h3>        
                <div class="mb-3">
                    <h5><strong>One of the top 5 innovations in Sri-Lanka - Prize 1000 USD </strong></h5>
                </div>
            
                <div class="row">
                    <div class="col-md-8 col-sm">
                        <!-- Image carousal for GENU -->
                        <div class="card card-shadow shadow-lg  rounded ">
                            <div id="carouselExampleIndicatorsUNDP" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="0" class="not-active active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="1" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="2" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="3" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="4" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="5" class="not-active"></li>

                                </ol>
                                <div class="carousel-inner">                                  
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/9.jpg"
                                                alt="Mihindu Ranasinghe UNDP GENU">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/2.jpg"
                                                alt="Mihindu Ranasinghe UNDP GENU">
                                        </div>
                                    </div>
                                   
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/6.jpg"
                                                alt="Mihindu Ranasinghe UNDP GENU">
                                        </div>
                                    </div>
            
                                    
                                    <div class="carousel-item active">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/undp_1.jpg" alt="Mihindu Ranasinghe UNDP GENU">                                    
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/1.jpg"
                                                alt="Mihindu Ranasinghe UNDP GENU">
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/undp_2.jpg" alt="Mihindu Ranasinghe UNDP GENU">
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                        <!--End of Image carousal for GENU -->
                    </div>
                    <div class="col-md-4 col-sm">
                        <p align="justify">
                        Generation Unlimited has supported thousands of young innovators across 40 countries to tackle some of the biggest
                        challenges facing their generation. It has helped young people understand why these challenges exist and how they can be
                        addressed to bring about real change.
                        </p>
                        <p>A newsletter article published by UNDP in official UNDP website</p>
                        <a href="https://undpsrilanka.exposure.co/bringing-ideas-to-life" target="_blank">https://undpsrilanka.exposure.co/bringing-ideas-to-life</a>
                        <br><br>
                        <p>Featuring Video</p>
                        <div>
                            <a href="https://www.facebook.com/baxmultimedia/videos/407608596890493" target="_blank">https://www.facebook.com/baxmultimedia/
                        </a><br><br>
                        </div>    
                    </div>
                    <!-- <iframe
                        src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fbaxmultimedia%2Fvideos%2F407608596890493%2F&show_text=true&width=560&t=0"
                        width="560" height="429" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> -->
                </div>
            
                <!-- <div class="row">                       
                            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                <h4><strong>Work Experience</strong></h4>                 
                            </div>
            
                            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                <h4><strong>Work Experience</strong></h4>                   
                            </div>
                        </div> -->
            
                <!-- <div class="d-flex flex-row">
                                <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-info">+
                                    Detail mission</button>
                            </div>
                            <p *ngIf="alternanceIsShown">
                                <strong>Mission 1:</strong> Application de gestion des camions entrant sur le site<br>
                                <strong>Mission 2:</strong> Amélioration d'une application qui permet de détecter si des
                                intervenants extérieurs travaillent au même endroit<br>
                                <strong>Mission 3:</strong> Mise en forme des commandes du verre, dans l’intérêt d'une
                                meilleure lisibilité des priorités pour les équipes de production. <br>
                                <strong>Téchnologies:</strong> JAVA, VBA, MySql, J2EE, Angular
                            </p> -->
            </div>

    <hr>

        <!-- Nobel Round Table -->
            <div class="p-3 mt-5" data-aos="fade-up" data-aos-delay="300">
                <h2 style="color: #212529;"><strong>Nobel Prize Round Table 2021</strong></h2>
                <div class="mb-3">
                    <h4><strong>Student meet Nobel Laureate (11/02/2021)</strong></h4>
                </div>
            
                <div class="row p-4">
                   
                    <div class="col-md-5 col-sm">
                        <p align="justify">
                            Mihindu Ranasinghe got this quite rare opportunity which only 16 selected students from all over the world who have shown the potential of being a scientist, and from different
                            disciplines within science, got invitations from Nobel International Foundation to
                            join the conversation with <b>Professor Queloz</b>, focusing on the topic of <b>"being a scientist"</b> , Organized by <a href="https://www.nobelprize.org/">The Nobel Prize Org.</a>
                        </p>
                        <p>This was an invite-only event for hand-picked students to digitally meet a Nobel Laureate and engage in
                        a dialogue about their life as a scientist. The session was held on a closed video conference platform</p>
                        <a href="https://www.nobelprize.org/"
                            target="_blank">https://www.nobelprize.org/</a>
                        <br><br>
                        <p>Featuring Video</p>
                        <a href="https://www.youtube.com/user/thenobelprize" target="_blank">https://www.youtube.com/user/thenobelprize
                        </a><br><br>                    
                    </div>

                    <!-- Image carousal for Nobel Round table -->
                    <div class="col-md-7 col-sm">
                        <div class="card card-shadow shadow-lg  rounded ">
                            <div id="carouselExampleIndicatorsNobel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="0" class="not-active active">
                                    </li>
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="1" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="2" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="3" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="4" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="5" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsNobel" data-slide-to="6" class="not-active"></li>
                    
                                </ol>
                                <div class="carousel-inner">

                                    <div class="carousel-item active">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/3.png"
                                                alt="Mihindu Ranasinghe Nobel">
                                        </div>
                                    </div>
                                    
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/12.jpg" alt="Mihindu Ranasinghe Nobel">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/4.png"
                                                alt="Mihindu Ranasinghe Nobel">
                                        </div>
                                    </div>
                    
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/6.png"
                                                alt="Mihindu Ranasinghe Nobel">
                                        </div>
                                    </div>
                    
                    
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/9.png"
                                                alt="Mihindu Ranasinghe Nobel">
                                        </div>
                                    </div>
                    
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/10.png"
                                                alt="Mihindu Ranasinghe Nobel">
                                        </div>
                                    </div>
                    
                                    <div class="carousel-item">
                                        <div class="d-block w-100">                                   
                                            <img class="d-block w-100 rounder" src="assets/images/nobel-roundtable/11.png" alt="Mihindu Ranasinghe Nobel">
                                                
                                        </div>
                                    </div>
                                   
                    
                                </div>
                            </div>
                        </div>
                        <!--End of Image carousal for Nobel Round table -->
                    </div>

                </div>
                    <!-- About queloz -->
                <div data-aos="fade-up">
                    <h5><strong>About Prof. Didier Queloz</strong></h5>
                        <ul>
                            <li>Didier Queloz is Professor of Physics at the University of Cambridge and
                            Geneva University.</li>
                            <li>He was awarded the 2019 Nobel Prize in Physics for the 1995 discovery of
                            exoplanet 51 Pegasi b. It was the first discovery of a planet outside our solar
                            system orbiting a solar-type star.</li>
                            <li>
                                He carried out his Nobel-Prize awarded work as a PhD student, and was
                                awarded the Nobel Prize alongside his PhD supervisor, Michel Mayor.
                            </li>
                        </ul>
                </div>
            </div>

    <hr>

        <!-- GDG Cloud Kasthiram -->
            <div class="p-3 mt-5" data-aos="fade-up" data-aos-delay="300">
                <h3><strong>Panel Discussion on Google Cloud Platform (GCP) - 2020</strong></h3>
                <div class="mb-3">
                    <h5><strong>Organized by Google Developer Groups (GDG Sri Lanka) | DGD Cloud Sri Lanka</strong></h5>
                </div>
            
                <div class="row">
            
                    <div class="col-md-5 col-sm">
                        <p align="justify">
                            Mihindu Ranasinghe was invited as a panelist in the panel discussion, organized by Google Developer Groups (GDG Sri Lanka) |
                            DGD Cloud Sri Lanka to discuss the Google Cloud Platform experience and share knowledge and experience on GCP and #CloudKasthiram Cloud Challenge.
                        </p>

                        <h5 class="mb-4"><strong>Conducted By</strong> </h5>
                        <h6>1. Shafraz Rahim</h6>
                        <p>
                          - Cloud Community Manager at<b> Google ( Singapore ) </b>
                        </p>

                        <h6>2. Milindu Sanoj</h6>
                        <p>
                           - SRE Team Lead at<b> SyscoLABS</b>
                        </p>
                    </div>
            
                    <!-- Image carousal for GDG Cloud Kasthiram -->
                    <div class="col-md-7 col-sm">
                        <div class="card card-shadow shadow-lg  rounded ">
                            <div id="carouselExampleIndicatorsGDG" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="0" class="not-active active">
                                    </li>
                                    <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="1" class="not-active"></li>
                                    <!-- <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="2" class="not-active"></li> -->
                                    <!-- <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="3" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="4" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="5" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsGDG" data-slide-to="6" class="not-active"></li> -->
            
                                </ol>
                                <div class="carousel-inner">
            
                                    <div class="carousel-item active">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/gdg/1.jpg"
                                                alt="Mihindu Ranasinghe GCP">
                                        </div>
                                    </div>
            
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/gdg/3.jpg"
                                                alt="Mihindu Ranasinghe GCP">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of Image carousal for Nobel Round table -->
                    </div>   
                </div>

                <!-- i frame -->
                <h3 class="py-4"><strong>Featuring Video (Panel Discussion)</strong></h3>
                <h4 align="justify"><strong>🔴 WATCH : Mihindu Ranasinghe as a panelist in GCP Panel Discussion held on <u>06th of November 2020.</u></strong></h4>
                <h5>If you have missed the live stream, you can watch it here.</h5>
                <div style="text-align: center;" class="mt-5">
                    <iframe width="75%" height="315" src="https://www.youtube.com/embed/85rg9R9uGQQ?controls=0" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
               
            </div>

        
        <!-- Read More -->
        <!-- <div class="d-flex flex-row">
                <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-info">+
                    Detail mission</button>
            </div>
            <p *ngIf="alternanceIsShown">
                <strong>Mission 1:</strong> Application de gestion des camions entrant sur le site<br>
                <strong>Mission 2:</strong> Amélioration d'une application qui permet de détecter si des
                intervenants extérieurs travaillent au même endroit<br>
                <strong>Mission 3:</strong> Mise en forme des commandes du verre, dans l’intérêt d'une
                meilleure lisibilité des priorités pour les équipes de production. <br>
                <strong>Téchnologies:</strong> JAVA, VBA, MySql, J2EE, Angular
            </p> 
        </div> -->

    </div>
</section>

