<section id="achievements">
    <div class="container">
        <h2><strong>Achievements</strong></h2>
        <span class="bar-title mb-5"></span>
         <!-- Ericsson Innovations Award -->       
            <div class="p-3" data-aos="fade-up" data-aos-delay="300">
                <h3><strong>ERICSSON INNOVATION AWARDS 2020</strong></h3>             
                <div class="mb-3">
                    <h5><strong>Global 1st Runner Up Winner - Prize 17000 EURO </strong></h5>
                </div>
                
                <div class="row">
                    <div class="col-md-8 col-sm">
                        <!-- Image carousal for ericcson -->
                        <div class="card card-shadow shadow-lg  rounded ">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="not-active active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="4" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="5" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="6" class="not-active"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIA_UOK_1.jpg" alt="Second slide">
                        
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAfinal6.jpg" alt="Second slide">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAfinal2.jpg" alt="Second slide">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIA_UOK_5.jpg" alt="Second slide">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAfinal4.jpg" alt="Second slide">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIAfinal5.jpg" alt="Second slide">
                                        </div>
                                    </div>
                        
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/ericsson/EIA_UOK_4.jpg" alt="Second slide">
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                        </div>
                        <!--End of Image carousal for ericcson -->
                    </div>
                    <div class="col-md-4 col-sm">
                        <!-- <p>The 2020 Ericsson Innovation Awards (EIA) is a call to ‘Reclaim the Future.’ The annual global competition
                        calls on students around the globe to set major change in motion by committing to addressing the current and future
                        challenges of climate action. Focused on how ICT/technology solutions can provide radical climate change mitigation for
                        consumers and industry alike.</p> -->
                        <p>A newsletter article published by the university in official university website
                        <a href="https://news.kln.ac.lk/index.php/faculties/sciences/1068-global-second-place-and-the-most-popular-team-on-instagram-at-the-ericsson-innovation-awards-2020" target="_blank">
                        <br> https://news.kln.ac.lk/</a>
                        </p>
                        <p>A post published by WSO2
                        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6745200856070688768/" target="_blank"> <br>WSO2 Post Link</a>
                        </p>
                        <p>Winners Announcement</p>
                        <a href="https://www.ericsson.com/en/careers/eia" target="_blank">https://www.ericsson.com/en/careers/eia
                        </a><br><br>
                        <p>Watch the grand finale</p>
                        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6744628501690904576/" target="_blank">Grand Finale Video Link
                        </a><br><br>
                        <p><strong> Winners </strong></p>
                        <p>    
                            1st Place&nbsp;&nbsp;&nbsp; : Queensland University – Australia                          
                            <br><b>2nd Place : University of Kelaniya - Sri Lanka</b>
                            <br>3rd Place&nbsp;&nbsp;&nbsp; : Stanford University – USA
                        </p>
                    </div>
                </div>

                                                <!-- <div class="row">                       
                                                    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                                        <h4><strong>Work Experience</strong></h4>                 
                                                    </div>

                                                    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                                        <h4><strong>Work Experience</strong></h4>                   
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-row">
                                                        <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-info">+
                                                            Detail mission</button>
                                                    </div>
                                                    <p *ngIf="alternanceIsShown">
                                                        <strong>Mission 1:</strong> Application de gestion des camions entrant sur le site<br>
                                                        <strong>Mission 2:</strong> Amélioration d'une application qui permet de détecter si des
                                                        intervenants extérieurs travaillent au même endroit<br>
                                                        <strong>Mission 3:</strong> Mise en forme des commandes du verre, dans l’intérêt d'une
                                                        meilleure lisibilité des priorités pour les équipes de production. <br>
                                                        <strong>Téchnologies:</strong> JAVA, VBA, MySql, J2EE, Angular
                                                    </p> -->
            </div>
         <hr>
         <!-- UNDP GENU -->
            <div class="p-3 mt-5" data-aos="fade-up" data-aos-delay="300">
                <h3><strong>UNDP Generation Unlimited Global Youth Challenge 2020</strong></h3>        
                <div class="mb-3">
                    <h5><strong>One of the top 5 innovations in Sri-Lanka - Prize 1000 USD </strong></h5>
                </div>
            
                <div class="row">
                    <div class="col-md-8 col-sm">
                        <!-- Image carousal for GENU -->
                        <div class="card card-shadow shadow-lg  rounded ">
                            <div id="carouselExampleIndicatorsUNDP" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="0" class="not-active active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="1" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="2" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="3" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="4" class="not-active"></li>
                                    <li data-target="#carouselExampleIndicatorsUNDP" data-slide-to="5" class="not-active"></li>

                                </ol>
                                <div class="carousel-inner">                                  
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/9.jpg"
                                                alt="Second slide">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/2.jpg"
                                                alt="Second slide">
                                        </div>
                                    </div>
                                   
                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/6.jpg"
                                                alt="Second slide">
                                        </div>
                                    </div>
            
                                    
                                    <div class="carousel-item active">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/undp_1.jpg" alt="Second slide">                                    
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/1.jpg"
                                                alt="Second slide">
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-block w-100">
                                            <img class="d-block w-100 rounder" src="assets/images/undp/undp_2.jpg" alt="Second slide">
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                        <!--End of Image carousal for GENU -->
                    </div>
                    <div class="col-md-4 col-sm">
                        <p>
                        Generation Unlimited has supported thousands of young innovators across 40 countries to tackle some of the biggest
                        challenges facing their generation. It has helped young people understand why these challenges exist and how they can be
                        addressed to bring about real change.
                        </p>
                        <p>A newsletter article published by UNDP in official UNDP website</p>
                        <a href="https://undpsrilanka.exposure.co/bringing-ideas-to-life" target="_blank">https://undpsrilanka.exposure.co/bringing-ideas-to-life</a>
                        <br><br>
                        <p>Featuring Video</p>
                        <a href="https://fb.watch/3rBLJMnuxf/" target="_blank">https://fb.watch/3rBLJMnuxf/
                        </a><br><br>
                    </div>
                </div>
            
                <!-- <div class="row">                       
                            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                <h4><strong>Work Experience</strong></h4>                 
                            </div>
            
                            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                <h4><strong>Work Experience</strong></h4>                   
                            </div>
                        </div> -->
            
                <!-- <div class="d-flex flex-row">
                                <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-info">+
                                    Detail mission</button>
                            </div>
                            <p *ngIf="alternanceIsShown">
                                <strong>Mission 1:</strong> Application de gestion des camions entrant sur le site<br>
                                <strong>Mission 2:</strong> Amélioration d'une application qui permet de détecter si des
                                intervenants extérieurs travaillent au même endroit<br>
                                <strong>Mission 3:</strong> Mise en forme des commandes du verre, dans l’intérêt d'une
                                meilleure lisibilité des priorités pour les équipes de production. <br>
                                <strong>Téchnologies:</strong> JAVA, VBA, MySql, J2EE, Angular
                            </p> -->
            </div>

        
        <!-- Read More -->
        <!-- <div class="d-flex flex-row">
                <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-info">+
                    Detail mission</button>
            </div>
            <p *ngIf="alternanceIsShown">
                <strong>Mission 1:</strong> Application de gestion des camions entrant sur le site<br>
                <strong>Mission 2:</strong> Amélioration d'une application qui permet de détecter si des
                intervenants extérieurs travaillent au même endroit<br>
                <strong>Mission 3:</strong> Mise en forme des commandes du verre, dans l’intérêt d'une
                meilleure lisibilité des priorités pour les équipes de production. <br>
                <strong>Téchnologies:</strong> JAVA, VBA, MySql, J2EE, Angular
            </p> 
        </div> -->

    </div>
</section>

