<section
  id="home"
  [ngStyle]="{ backgroundImage: 'url(assets/images/bg_notebook.jpg)' }"
  class="d-flex flex-column justify-content-center align-items-center"
>
  <div class="hero-container aos-init aos-animate" data-aos="fade-in">
    <div class="avatar-container">
      <img src="{{ avatar }}" class="avatar mr-3" alt="Mihindu Ranasinghe" />
    </div>
    <h1 class="mt-3">Hello, I'm Mihindu Ranasinghe</h1>
    <h5><strong>Fullstack Software Engineer at TVM Sweden</strong></h5>
    <p class="text-white"><span class="typed"></span></p>
  </div>

  <div class="">
    <!-- <p class="">Scroll Down</p> -->
  </div>
</section>
